In [1]:
!python --version

Python 3.9.7

`Librerias`

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import regex as re
import matplotlib.pyplot as plt

from datetime import date, datetime, timedelta
from dateutil.relativedelta import relativedelta

import warnings
warnings.filterwarnings('ignore')

In [3]:
%run src.py

-----------------------
`DataFrame`

In [4]:
sharks_attacks = pd.read_csv('attacks.csv', encoding='unicode_escape')
pd.set_option('display.max_columns',None)
sharks = sharks_attacks.copy()
sharks.shape

(25723, 24)

In [5]:
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

----------------------------------
`Modificando columnas`

In [6]:
format_columns(sharks)

Index(['Case number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (y/n)', 'Time',
       'Species', 'Investigator or source', 'Pdf', 'Href formula', 'Href',
       'Case number.1', 'Case number.2', 'Original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

----------------
`Información básica del DataFrame`

In [7]:
sharks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (y/n)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or source  6285 non-null   object
 16  Pdf                     6302 non-null   object
 17  Href formula            6301 non-null   object
 18  Href                    6302 non-null   object
 19  Case number.1           6302 non-null   object
 20  Case number.2           6302 non-null   object
 21  Original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

------------------
`Eliminamos columnas que no aporten valor`

In [8]:
columnas_eliminadas = ['Date','Year','Area','Location','Name','Time','Investigator or source','Pdf','Href formula','Href','Case number.1','Case number.2','Original order','Unnamed: 22','Unnamed: 23']
sharks.drop(axis=1,columns=columnas_eliminadas, inplace=True)

-------------------------------------
`Duplicados`

In [9]:
drop_duplicates(sharks)

Inicialmente hay 25723 registros, de los cuales 19419 son registros duplicados.
Eliminando duplicados...
Tras la limpieza hay 6304 registros y hay un total de 0 registros duplicados.

----------------------------------
`Nulos`

In [10]:
# Porcentaje de nulos por columna
print(sharks.isnull().sum()/sharks.shape[0])
print(f'\nLa media de nulos en el DataFrame es de: {round((sharks.isnull().sum()/sharks.shape[0]).mean(),2)}')

Case number    0.000317
Type           0.001110
Country        0.008407
Activity       0.086770
Sex            0.090102
Age            0.449397
Injury         0.004918
Fatal (y/n)    0.085977
Species        0.450508
dtype: float64

La media de nulos en el DataFrame es de: 0.13

-------------------------
`LIMPIEZA CAMPOS/COLUMNAS`

`CASE NUMBER`

In [11]:
case_number_clean(sharks,'Case number')

0      2018-06-25
1      2018-06-18
2      2018-06-09
3      2018-06-08
4      2018-06-04
          ...
6299          NaT
6300          NaT
6301          NaT
6302          NaT
6303          NaT
Name: Case number, Length: 6304, dtype: datetime64[ns]

----------------------------------------------
`TYPE`

In [12]:
type_clean(sharks,'Type')

0        Undefined
1       Unprovoked
2        Undefined
3       Unprovoked
4         Provoked
           ...
6299    Unprovoked
6300    Unprovoked
6301     Undefined
6302     Undefined
6303     Undefined
Name: Type, Length: 6304, dtype: object

-------------------
`COUNTRY`

In [13]:
country_clean(sharks,'Country')

USA                 2232
AUSTRALIA           1338
SOUTH AFRICA         579
UNDEFINED            173
PAPUA NEW GUINEA     155
                    ...
GUATEMALA              1
ARGENTINA              1
MAYOTTE                1
GABON                  1
BAHREIN                1
Name: Country, Length: 132, dtype: int64

`Líneas futuras para el campo Country`


Usar `GeoPy` para obtener coordenadas (direcciones, ciudades, paises y puntos de referencia). Este usa geocodiicadores de terceros y otras fuentes de datos.


Usar `Cartopy` para dibujar maas para que el analisis y la visualización sea más intuitivo.

-----------------------
`ACTIVITY`

In [14]:
activity_clean(sharks,'Activity')

non common activity    1458
fishing                1160
surfing                1127
swimming               1110
diving activity         528
bathing                 190
wading                  165
standing                131
body boarding           111
snorkeling               94
fell overboard           56
kayaking                 50
floating                 46
treading water           37
walking                  22
surf skiing              19
Name: Activity, dtype: int64

---------------------
`SEX`

In [15]:
sex_clean(sharks,'Sex')

M              5095
F               637
Not defined     572
Name: Sex, dtype: int64

-------------------
`AGE`

In [16]:
age_clean(sharks,'Age')

17.0    154
18.0    150
19.0    142
20.0    142
15.0    139
       ...
87.0      1
67.0      1
72.0      1
81.0      1
82.0      1
Name: Age, Length: 80, dtype: int64

-------------------
`FATAL`

In [17]:
fatal_clean(sharks,'Fatal (y/n)')

N          4300
Y          1389
UNKNOWN     615
Name: Fatal (y/n), dtype: int64

------------------
`SPECIES`

In [18]:
species_clean(sharks,'Species')

not identified       4715
white shark           635
tiger shark           285
bull shark            176
nurse shark            97
blacktip shark         64
mako shark             54
wobbegong shark        46
hammerhead shark       44
spinner shark          43
raggedtooth shark      43
blue shark             41
lemon shark            35
sevengill shark        13
galapagos shark         7
angel shark             6
Name: Species, dtype: int64

---------------------
`INJURY`

In [19]:
injury_clear(sharks,'Injury')

not defined    2429
leg             963
no injury       804
foot            644
arm             499
hand            332
calf            213
ankle           203
knee             76
shoulder         46
torso            45
heel             35
elbow            15
Name: Injury, dtype: int64

---------------------
`DATAFRAME`

In [20]:
sharks.dropna(inplace=True)

In [21]:
sharks

,Case number,Type,Country,Activity,Sex,Age,Injury,Fatal (y/n),Species
0,2018-06-25,Undefined,USA,non common activity,F,57.0,no injury,N,white shark
1,2018-06-18,Unprovoked,USA,standing,F,11.0,not defined,N,not identified
2,2018-06-09,Undefined,USA,surfing,M,48.0,leg,N,not identified
6,2018-06-03,Unprovoked,BRAZIL,swimming,M,18.0,not defined,Y,tiger shark
7,2018-05-27,Unprovoked,USA,fishing,M,52.0,foot,N,lemon shark
...,...,...,...,...,...,...,...,...,...
6076,1837-01-17,Unprovoked,AUSTRALIA,non common activity,M,12.0,not defined,Y,not identified
6088,1830-07-26,Unprovoked,USA,fishing,M,52.0,not defined,Y,not identified
6095,1828-09-28,Unprovoked,SIERRA LEONE,bathing,M,17.0,arm,N,not identified
6113,1817-05-11,Unprovoked,SRI LANKA,swimming,M,22.0,not defined,Y,not identified
6159,1703-03-26,Unprovoked,BARBADOS,swimming,M,19.0,foot,N,not identified

In [22]:
sharks.to_csv('clean_sharks_attacks.csv')